
element.style {
}
html {
    background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 1360px)
#headerCountdown {
    font-size: 5vw;
    font-family:cursive;
}
#headerCountdown {
    display: inline-block;
    margin: 0 auto 35px;
    font-family:cursive;
    text-align: center;
    font-size: 4em;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, .shopify-section .swatch .swatch-item .tooltip, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    border: ;
    font-size: 30px;
    font-family: 'digitalClock', sans-serif;
    vertical-align: baseline;
    color:cyan;
    text-shadow: lime;
    box-shadow: lime;
    outline: none;
    text-shadow: darkslateblue;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
user agent stylesheet
div {
    display: block;
}
.section-lunar-capsule-page__header {
    position: relative;
    background-image: url(//cdn.shopify.com/s/files/1/0016/1975/5059/files/moon-earth-rise-2_2500x2500.png?v=1611272940);
    background-size: cover;
    background-position: right top;
    color: #ffffff;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
body {
    color: #1a1a1a;
    background-color: #00000;
    font: normal 16px/21px "Work Sans",sans-serif;
}
body {
    height: 100%;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.video {
    font-family:'Times New Roman', Times, serif;
    color:cyan;
}
iframe {
    border: darkorchid;
    border-width: 10px;
    border-bottom: darkorchid;
}

.cut {
    color:indigo;
    text-shadow: lime;
}
